* {
  text-align: center;
}

#easyButton, #hardButton, #passedButton, #failedButton {
  padding: 25px;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}

img {
  display: block;
  margin: 0 auto;
  padding: 20px;
}
